<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:component-scan base-package="com.sample" />
	<context:property-placeholder location="classpath:database.properties" />
	<mvc:annotation-driven />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">		
        <property name="driverClassName" value="${database.driver}" />
        <property name="username" value="${database.user}" />
        <property name="password" value="${database.password}" />
        <property name="url" value="${database.url}" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.sample.model.leaveManagement.Employee</value>
				<value>com.sample.model.todo.User</value>
				<value>com.sample.model.todo.Todo</value>
				<value>com.sample.model.roomBooking.Room</value>
				<value>com.sample.model.roomBooking.Location</value>
				<value>com.sample.model.roomBooking.Facility</value>
				<value>com.sample.model.roomBooking.Purpose</value>
				<value>com.sample.model.roomBooking.Occupieds</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
			</props>
		</property>
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="persistenceExceptionTranslationPostProcessor"
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<bean id="dataDao" class="com.sample.dao.leaveManagement.DataDaoImpl"></bean>
	<bean id="dataServices" class="com.sample.services.leaveManagement.DataServicesImpl"></bean>
	<bean id="userDao" class="com.sample.dao.todo.UserDaoImpl"></bean>
	<bean id="userServices" class="com.sample.services.todo.UserServicesImpl"></bean>
	<bean id="todoDao" class="com.sample.dao.todo.TodoDaoImpl"></bean>
	<bean id="todoServices" class="com.sample.services.todo.TodoServicesImpl"></bean>
	<bean id="roomBookingDao" class="com.sample.dao.roomBooking.RoomBookingDaoImpl"></bean>
	<bean id="roomBookingServices" class="com.sample.services.roomBooking.RoomBookingServicesImpl"></bean>
</beans>